* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccccb3;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 85%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.main .board {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  background-color: black;
  padding: 15px;
}

.main .board .to-do-card {
  padding: 15px 25px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 15px;
}

.main .board .progress-card {
  padding: 15px 25px;
  cursor: pointer;
  background-color: red;
  margin-bottom: 15px;
}

.main .board .done-card {
  padding: 15px 25px;
  cursor: pointer;
  background-color: green;
  margin-bottom: 15px;
}
